/** 
* buttons component
**/

/** definicion de boton **/
.btn,
.bp-btn {
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 500;
  text-decoration: none;
  color: $color_primary;
  border: 0;
  background-color: transparent;
  &.btn-2x{
    padding: 0.75rem 3rem;
  }
  &.btn-3x{
    padding: 0.75rem 4.5rem;
  }
  &.btn-4x{
    padding: 0.75rem 6rem;
  }

  &:visited {
    color: $color_primary;
  }

  &:hover,
  &:focus,
  &.active {
    &:not([disabled]) {
      background-color: $color_navy-active;
      border-color: $color_navy-active;
      color: $color_universal-white;
      text-decoration: none;
    }
  }

  &:disabled,
  &.disabled {
    opacity: 0.65;
    cursor: default;
    pointer-events: none;
  }
}

.btn-icon,
.bp-btn-icon {
  padding: 1rem;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  text-align: center;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
  text-decoration: none;
  color: $color_primary;
  border: 0;
  background-color: transparent;

  &:visited {
    color: $color_primary;
  }

  &:hover,
  &:focus,
  &.active {
    &:not([disabled]) {
      background-color: $color_navy-active;
      border-color: $color_navy-active;
      color: $color_universal-white;
      text-decoration: none;
    }
  }

}

/** end definicion de boton **/
/**
* Variaciones - Estilos de boton 
***/

/**
 * 1. btn primary and secondary 
**/
.btn-primary,
.bp-btn-primary {
  background-color: $color_primary;
  color: $color_universal-white;
  border: 2px solid  $color_primary;

  &:visited {
    color: $color_universal-white;
  }
}

.btn-secondary,
.bp-btn-secondary {
  background-color: $color_secondary-button;
  color: $color_universal-white;
  border: 0;
  border: 2px solid  $color_secondary-button;

  &:visited {
    color: $color_universal-white;
  }
}

/** important **/
.btn-primary--important,
.bp-btn-primary--important {
  background-color: $color_primary !important;
  color: $color_universal-white !important;
  border: 2px solid  $color_primary !important;
  &:hover,
  &:focus,
  &.active {
    &:not([disabled]) {
      background-color: $color_navy-active !important;
      color: $color_universal-white !important;
      text-decoration: none !important;
    }
  }
}

.btn-secondary--important,
.bp-btn-secondary--important {
  background-color: $color_secondary-button !important;
  color: $color_universal-white !important;
  border: 2px solid $color_secondary-button !important;
  &:hover,
  &:focus,
  &.active {
    &:not([disabled]) {
      background-color: $color_navy-active !important;
      color: $color_universal-white !important;
      text-decoration: none !important;
    }
  }
}

/** end important **/
/** end btn primary and secondary **/

/**
 * 2.btn outline primary and secondary
**/

.btn-outline-primary,
.bp-btn-outline-primary {
  background-color: transparent;
  color: $color_primary;
  border: 2px solid $color_primary;

  &:visited {
    color: $color_primary;
  }

  &:hover,
  &:focus {
    border-color: $color_navy-active;
    
  }
}

.btn-outline-secondary,
.bp-btn-outline-secondary {
  background-color: transparent;
  color: $color_secondary-button;
  border: 2px solid $color_secondary-button;

  &:visited {
    color: $color_secondary-button;
  }

  &:hover,
  &:focus {
    border-color: $color_navy-active;
  }
}

/** important **/
.btn-outline-primary--important,
.bp-btn-outline-primary--important {
  background-color: transparent !important;
  color: $color_primary !important;
  border: 2px solid $color_primary !important;

  &:hover,
  &:focus {
    background-color: $color_navy-active !important;
    border-color: $color_navy-active !important;
    color: $color_universal-white !important;
  }
}

.btn-outline-secondary--important,
.bp-btn-outline-secondary--important {
  background-color: transparent;
  color: $color_secondary-button !important;
  border: 2px solid $color_secondary-button !important;

  &:visited {
    color: $color_secondary-button !important;
  }

  &:hover,
  &:focus {
    background-color: $color_navy-active !important;
    border-color: $color_navy-active !important;
    color: $color_universal-white !important;
  }
}

/** end important **/
/** end btn outline primary and secondary **/

/**
* 3. Link
**/
.btn-link,
.bp-btn-link {
  color: $color_primary;
  text-decoration: underline;

  &:visited {
    color: $color_primary;
  }

  &:hover,
  &:focus {
    &:not([disabled]) {
      background-color: transparent;
      color: $color_navy-active;
      text-decoration: underline;
    }
  }
}

/** end btn link **/
/** btn elininar **/
.btn-danger{
  color: $color_secondary-button;
}

.btn-danger--red{
  color: $color-danger;
}
/**
* Btn Group Icon + Text
*/
.btn-group-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  .material-icons
  {
    font-size: 1.25rem;
  }
}
/** end Group Icon + Text **/

/** utilities bootstrap**/
.bp-btn-block, .btn-block{
  width: 100%;
  display: block;
}
.bp-btn-lg, .btn-lg {
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
}
/** end utilities bootstrap**/

/** 
* end buttons component
**/