$main-font-size: 16px; 

$color_universal-black: #000;
$color_universal-white: #fff;


$color_primary: #0079C0;

$color_bupa: #0079C0;
$color_cyan_75: #409BD6;
$color_cyan_50:#7FBCE3;
$color_cyan_25:#BFDDF1;

$color_cyan-active: #00548C;
$color_cyan-selected-area: #ECF6FF;
$color_cyan-table: #F5FAFF;
$color_cyan-readonly: #F4F9FF;

$color_navy: #00335B;
$color_navy-active: #002949;
$color_secondary-button: #02538A;

$color_grey-dark: #212121;
$color_grey-medium: #919295;
$color_grey-medium_25: #DADBDB;
$color_grey-light: #F1EFEB;
$color_grey-light_30:#E6E6E6;

$color_orange: #EC7000;
$color_lime: #678004;
$color_green: #007a3d;
$color_green-dark: #18542c;
$color_teal: #008385;
$color-blurple: #0D1AC3;
$color_burgundy: #942151;
$color_fucshia: #c6007e;
$color_violet: #a4219b;
$color_purple: #6a2ca1;
$color_error: #CC181E;


$font_montserrat: 'Montserrat', sans-serif;

// alerts
$color_success: #6ab04c;
$color_info: #45aaf2;
$color_warning: #f9ca24;
$color_danger: #CC181E;