<section class="ig-requestpre ig-quote ig-wizard ig-wizarsolicitud animated fadeIn">
  <article class="">
    <div class="col-md-12">
      <div class="stepwizard">
        <div class="stepwizard-row setup-panel">
          <div class="stepwizard-step">
            <span class="btn btn-circle" [ngClass]="currentStep === 1 ? 'btn-primary' : 'btn-defaul'">1</span>
            <p>{{ 'PAYMENTS.CONTAINER.DO_YOUR_PAYMENT' | translate }}</p>
          </div>
          <div class="stepwizard-step">
            <span class="btn btn-circle" [ngClass]="currentStep === 2 ? 'btn-primary' : 'btn-defaul'">2</span>
            <p>{{ 'PAYMENTS.CONTAINER.CONFIRM' | translate }}</p>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>