<div class="ig-eob-container">
  <div class="modal-header">
    <h4 class="modal-title aggrement-title-modal"></h4>
  </div>
  <div class="modal-body">
    <div class="modal-content">
      <iframe #frame width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen
        allowfullscreen>
      </iframe>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="ok()">{{ 'CLAIMS.EOBMODALOK' | translate }}</button>
  </div>
</div>