<div class=" row bp-itemcontsect" style="padding: 15px 30px;" *ngIf="handleInfoView(1)">

  <div class="col-md-6 p-0">
    <h5 class="bp-contentitle" style="font-size: 14px; color: #000000;">
      {{ 'POLICY.POLICY_ENROLLMENT.INFO_APP_NUM' | translate }} <span
        style="font-weight: 400;">{{handleInfoView(1)}}</span>
    </h5>
  </div>

  <div class="col-md-6">
    <h5 class="bp-contentitle" style="font-size: 14px; color: #000000;">
      {{ 'POLICY.POLICY_ENROLLMENT.INFO_OWNER' | translate }} <span
        style="font-weight: 400;">{{handleInfoView(0)}}</span>
    </h5>
  </div>

</div>