<div class="bg-sectmed">
    <div class="row align-items-center mb-3">
        <ng-container *ngIf="question">
            <ng-container [ngSwitch]="medicalQuestionaryName">
                <ng-container *ngSwitchCase="'medicalHistoryQuestions'">
                    <div class="col-md-10">
                        <h6 class="mb-2">
                            {{ 'POLICY.POLICY_ENROLLMENT.STEP4.' | concatenate: question.medicalQuestionType.medicalQuestionTypeName |uppercase| translate }}
                        </h6>
                        <p>{{question.medicalQuestionByLanguages[0].question}}</p>
                    </div>
                    <div class="col-md-2" [ngClass]="{'border-danger':getControl(question.medicalQuestionReference)?.invalid && showValidation}">
                        <ng-container *ngFor="let opt of options; trackBy:trackByFn">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="{{opt.key}}{{index}}{{trackByFn()}}{{question.medicalQuestionReference}}" [value]="opt.value" [formControl]="getControl(question.medicalQuestionReference)" [name]="getControl(question.medicalQuestionReference)"
                                    (change)="handleAnswer(opt.value)">
                                <label for="{{opt.key}}{{index}}{{trackByFn()}}{{question.medicalQuestionReference}}" class="form-check-label"> {{opt.key}}</label>
                            </div>
                        </ng-container>
                        <br>
                    </div>
                </ng-container>



            </ng-container>
        </ng-container>
    </div>

    <hr>
</div>