<article class="">
    <div class="col-md-4">
    </div>
    <div class="wrap-element">

        <iframe class="wrapped-iframe" [src]="NewBusinessUrl | domSecurity: NewBusinessUrl" 
        style="border:0px #ffffff none;" name="bupaAgents" scrolling="yes" 
        frameborder="1" marginheight="0px" marginwidth="0px" 
        height="300px" width="400px" allowfullscreen></iframe> 
    <!--        'https://cotizador.bupasalud.com/agents/#!/main';
    -->

        <!--<iframe id="iframeDemoForm" [src]="'http://localhost:3000/' | domSecurity: 'http://localhost:3000/'" 
        style="border:0px #ffffff none;" name="bupaAgents" scrolling="yes" 
        frameborder="1" marginheight="0px" marginwidth="0px" 
        height="300px" width="400px" allowfullscreen></iframe>-->

    </div>



  </article>