<section class="bp-mainpolicy">
    <form [formGroup]="wizard.enrollmentForm">
        <div formGroupName="{{STEP_NAME}}">
            <div class="bp-itemcontsect2 bp-aviso" formGroupName="{{SECTION_NAME}}">
                <div class="row align-items-top">
                    <div class="col-md-12">
                        <h4 class="bp-contentitle mb-2" [innerHtml]="'POLICY.POLICY_ENROLLMENT.STEP8.SECTION_01.SUBTITLE' | translate"></h4>
                  
                       
                    </div>
                    <div class="col-md-4">
                        <div [innerHtml]="'POLICY.POLICY_ENROLLMENT.STEP8.SECTION_01.DISCLAIMER1' | translate"> </div>
                    </div>
                    <div class="col-md-4">
                        <div [innerHtml]="'POLICY.POLICY_ENROLLMENT.STEP8.SECTION_01.DISCLAIMER2' | translate">
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div [innerHtml]="'POLICY.POLICY_ENROLLMENT.STEP8.SECTION_01.DISCLAIMER3' | translate">
                        </div>
                    </div>

                    <div class="col-md-12 my-3" [ngClass]="{ 
                                'border-danger': !getControl(DISCLAIMER_CHECK).value && showErrorMsg }">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="{{DISCLAIMER_CHECK}}" value=""
                                formControlName="{{DISCLAIMER_CHECK}}">
                            <label class="form-check-label" for="{{DISCLAIMER_CHECK}}">
                                {{'POLICY.POLICY_ENROLLMENT.STEP8.ACCEPT_TERMS_AND_SCOPES' | translate }}</label>
                        </div>
                    </div>
                </div>


                <div class="col-md-12 p-0"
                    *ngIf="showErrorMsg && getFormGroup().invalid || showErrorMsg && !this.getControl(DISCLAIMER_CHECK).value ">
                    <div class="bp-alertform">
                        <div class="alert alert-danger" role="alert">
                            <i class="material-icons">info</i>
                            {{'POLICY.POLICY_ENROLLMENT.STEP8.INFORMATION_INCOMPLETE' | translate }}
                        </div>
                    </div>
                </div>

                <div class="col-md-12 p-0 mt-2">
                    <div class="row">
                        <div class="col-md-4 offset-md-4">
                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <button class="bp-btn bp-btnsecondary" (click)="back()"
                                        [innerHtml]="'POLICY.POLICY_ENROLLMENT.BACK' | translate">
                                    </button>
                                </div>
                                <div class="col-md-6">
                                    <button class="bp-btn bp-btnprimary" (click)="next()"
                                        [innerHtml]="'POLICY.POLICY_ENROLLMENT.NEXT' | translate ">
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
</section>