<section class="ig-changepass">

    <div class="">
        <div class="col-md-12">

            <div class="ig-title">
                <h5>{{ 'USER.CHANGEPASSWORD.TITLE' | translate }}</h5>
                <p>
                    {{ 'USER.CHANGEPASSWORD.SUBTITLE' | translate }}
                </p>
            </div>

        </div>
    </div>

    <article class="ig-contenchangepass">

        <article class="">

            <div class="col-md-12">

                <form [formGroup]="changePasswordForm" (ngSubmit)="submitNewPassword(changePasswordForm.value)"
                    novalidate>

                    <div class="col-md-5 offset-md-3 p-0">

                        <div class="ig-registroform">

                            <div class="form-group text-left">
                                <label for="currentPwd" class="">
                                    {{ 'USER.CHANGEPASSWORD.CURRENT_PASSWORD' | translate }}
                                </label>
                                <input id="currentPwd" formControlName="currentPwd" appShowPassword class="form-control"
                                    placeholder="" autofocus="" type="password">
                                <div class="ig-textovalida" *ngIf="(changePasswordForm['controls'].currentPwd.errors?.required 
                                           && changePasswordForm['controls'].currentPwd.touched)">
                                    {{ 'USER.CHANGEPASSWORD.ERROR.REQUIRED' | translate }}
                                </div>
                            </div>

                            <div formGroupName="setupPasswordGroup">

                                <div class="form-group text-left">

                                    <label for="newPwd" class="">
                                        {{ 'USER.CHANGEPASSWORD.NEW_PASSWORD' | translate }}
                                    </label>

                                    <input id="newPwd" appShowPassword formControlName="newPwd" class="form-control"
                                        placeholder="" autofocus="" type="password" maxlength="12">

                                    <span class="help-block ig-textovalida" *ngIf="changePasswordForm['controls'].setupPasswordGroup['controls'].newPwd.errors 
                                    && (changePasswordForm['controls'].setupPasswordGroup['controls'].newPwd.touched 
                                    || changePasswordForm['controls'].setupPasswordGroup['controls'].newPwd.dirty)">

                                        <div
                                            *ngIf="changePasswordForm['controls'].setupPasswordGroup['controls'].newPwd.errors?.required 
                                                    || !changePasswordForm['controls'].setupPasswordGroup['controls'].newPwd.errors?.invalidPassword">
                                            {{ 'USER.CHANGEPASSWORD.ERROR.REQUIRED' | translate }}
                                        </div>

                                        <div
                                            *ngIf="changePasswordForm['controls'].setupPasswordGroup['controls'].newPwd.errors?.invalidPassword
                                            && !changePasswordForm['controls'].setupPasswordGroup['controls'].newPwd.errors?.required">
                                            {{ 'USER.CHANGEPASSWORD.ERROR.PWD_FORMAT' | translate }}
                                        </div>

                                    </span>

                                    <span
                                        *ngIf="changePasswordForm['controls'].setupPasswordGroup['controls'].newPwd.touched"
                                        class="ig-iconvalidator">
                                        <i class="material-icons">
                                            {{changePasswordForm['controls'].setupPasswordGroup['controls'].newPwd.valid ? 'done' : 'warning' }}
                                        </i>
                                    </span>

                                </div>

                                <div class="form-group text-left">

                                    <label for="confirmPwd"
                                        class="">{{ 'USER.CHANGEPASSWORD.CONFIRM_PASSWORD' | translate}}
                                    </label>

                                    <input id="confirmPwd" formControlName="confirmPwd" appShowPassword
                                        class="form-control" placeholder="" autofocus="" type="password">

                                    <div class="ig-textovalida"
                                        *ngIf="changePasswordForm['controls'].setupPasswordGroup['controls'].confirmPwd.errors?.required 
                                                    && changePasswordForm['controls'].setupPasswordGroup['controls'].confirmPwd.touched">
                                        {{ 'USER.CHANGEPASSWORD.ERROR.REQUIRED' | translate }}
                                    </div>

                                    <div class="ig-textovalida"
                                        *ngIf="changePasswordForm['controls'].setupPasswordGroup.errors
                                            && changePasswordForm['controls'].setupPasswordGroup.errors?.match
                                            && !changePasswordForm['controls'].setupPasswordGroup['controls'].confirmPwd.errors?.required
                                            && changePasswordForm['controls'].setupPasswordGroup['controls'].confirmPwd.touched">
                                        {{ 'USER.CHANGEPASSWORD.ERROR.PWD_MATCH' | translate }}
                                    </div>

                                    <span
                                        *ngIf="changePasswordForm['controls'].setupPasswordGroup['controls'].confirmPwd.touched"
                                        class="ig-iconvalidator">
                                        <i class="material-icons">
                                            {{ (changePasswordForm['controls'].setupPasswordGroup.errors?.match ||
                                            !changePasswordForm['controls'].setupPasswordGroup['controls'].confirmPwd.valid)
                                            ? 'warning' : 'done' }}
                                        </i>
                                    </span>

                                </div>

                            </div>

                            <div class="ig-textopass">

                                <div class="row">

                                    <div class="col-md-12">
                                        <h6>{{ 'USER.CHANGEPASSWORD.FORMAT_CONDITIONS' | translate }}</h6>
                                    </div>

                                    <div class="col-md-6">
                                        <ul>
                                            <li>{{ 'USER.CHANGEPASSWORD.LOWERCASE' | translate }}</li>
                                            <li>{{ 'USER.CHANGEPASSWORD.UPPERCASE' | translate }}</li>
                                            <li>{{ 'USER.CHANGEPASSWORD.SPECIAL' | translate }}</li>
                                        </ul>
                                    </div>

                                    <div class="col-md-6">
                                        <ul>
                                            <li>{{ 'USER.CHANGEPASSWORD.RANGE' | translate }}</li>
                                            <li>{{ 'USER.CHANGEPASSWORD.DIGIT' | translate }}</li>
                                        </ul>
                                    </div>

                                </div>

                            </div>

                            <div class="row">
                                <button type="submit" [disabled]="changePasswordForm.invalid"
                                    class="ig-botones ig-principalbtn">
                                    {{ 'USER.CHANGEPASSWORD.SAVE' | translate }}
                                </button>
                            </div>

                        </div>

                    </div>

                </form>

            </div>

        </article>

    </article>

</section>
