<form class="form-group" [formGroup]="wizard.enrollmentForm">
  <ng-container formGroupName="{{STEP_NAME}}">
    <ng-container formGroupName="{{SECTION_NAME}}">

      <div class="row ml-0">
        <div class="form-group">
          <label for="formGroupExampleInput">{{'POLICY.POLICY_ENROLLMENT.STEP9.PARAGRAPH_INDIVIDUAL_TITLE' | translate }}</label>
        </div>
      </div>

      <div class="row">

        <div class="col-md-4">
          <div class="form-group" [ngClass]="{ 'was-validated' : showValidations }">
            <label for="firstName">
              {{'POLICY.POLICY_ENROLLMENT.INFO_PERSONAL.FIRST_NAME' | translate }}
            </label>
            <input type="text"
              [required]="f.firstName.errors?.required"
              class="form-control"
              id="firstName"
              placeholder="{{ 'POLICY.POLICY_ENROLLMENT.INFO_PERSONAL.PH_NAME' | translate }}"
              formControlName="firstName"
              [maxlength]="getValidatorValue('firstName', 'maxLength')"
              [pattern]="getValidatorValue('firstName', 'pattern')"
              [minlength]="getValidatorValue('firstName', 'minLength')">
            <div class="invalid-feedback" *ngIf="f.firstName.errors?.pattern">
              {{ 'APP.MESSAGE.' | concatenate: getValidatorMessage('firstName', 'pattern') | uppercase | translate}}
            </div>
            <div class="invalid-feedback" *ngIf="f.firstName.errors?.maxlength">
              {{ 'APP.MESSAGE.' | concatenate: getValidatorMessage('firstName', 'maxLength') | uppercase | translate}}
              {{f.firstName.errors?.maxlength.requiredLength}}
            </div>
            <div class="invalid-feedback" *ngIf="f.firstName.errors?.minlength">
              {{ 'APP.MESSAGE.' | concatenate: getValidatorMessage('firstName', 'minLength') | uppercase | translate}}
              {{f.firstName.errors?.minlength.requiredLength}}
            </div>
          </div>
          <div class="form-group" [ngClass]="{ 'was-validated' : showValidations}">
            <label for="middleName">
              {{'POLICY.POLICY_ENROLLMENT.INFO_PERSONAL.LBL_MIDDLE_NAME' | translate }}
            </label>
            <input type="text"
              [required]="f.middleName.hasError('required')" class="form-control"
              id="middleName"
              placeholder="{{ 'POLICY.POLICY_ENROLLMENT.INFO_PERSONAL.PH_MIDDLE_NAME' | translate }}"
              formControlName="middleName"
              [maxlength]="getValidatorValue('middleName', 'maxLength')"
              [pattern]="getValidatorValue('middleName', 'pattern')"
              [minlength]="getValidatorValue('middleName', 'minLength')">
            <div class="invalid-feedback" *ngIf="f.middleName.errors?.pattern">
              {{ 'APP.MESSAGE.' | concatenate: getValidatorMessage('middleName', 'pattern') | uppercase | translate}}
            </div>
            <div class="invalid-feedback" *ngIf="f.middleName.errors?.maxlength">
              {{ 'APP.MESSAGE.' | concatenate: getValidatorMessage('middleName', 'maxLength') | uppercase | translate}}
              {{f.middleName.errors?.maxlength.requiredLength}}
            </div>
            <div class="invalid-feedback" *ngIf="f.middleName.errors?.minlength">
              {{ 'APP.MESSAGE.' | concatenate: getValidatorMessage('middleName', 'minLength') | uppercase | translate}}
              {{f.middleName.errors?.minlength.requiredLength}}
            </div>
          </div>
          <div class="form-group" [ngClass]="{ 'was-validated' : showValidations}">
            <label for="lastName">
              {{'POLICY.POLICY_ENROLLMENT.INFO_PERSONAL.SURNAME' | translate }}
            </label>
            <input type="text" [required]="f.lastName.hasError('required')" class="form-control"
              id="lastName"
              placeholder="{{ 'POLICY.POLICY_ENROLLMENT.INFO_PERSONAL.PH_FATHER_LAST_NAME' | translate }}"
              formControlName="lastName"
              [maxlength]="getValidatorValue('lastName', 'maxLength')"
              [pattern]="getValidatorValue('lastName', 'pattern')"
              [minlength]="getValidatorValue('lastName', 'minLength')">
            <div class="invalid-feedback" *ngIf="f.lastName.errors?.pattern">
              {{ 'APP.MESSAGE.' | concatenate: getValidatorMessage('lastName', 'pattern') | uppercase | translate}}
            </div>
            <div class="invalid-feedback" *ngIf="f.lastName.errors?.maxlength">
              {{ 'APP.MESSAGE.' | concatenate: getValidatorMessage('lastName', 'maxLength') | uppercase | translate}}
              {{f.lastName.errors?.maxlength.requiredLength}}
            </div>
            <div class="invalid-feedback" *ngIf="f.lastName.errors?.minlength">
              {{ 'APP.MESSAGE.' | concatenate: getValidatorMessage('lastName', 'minLength') | uppercase | translate}}
              {{f.lastName.errors?.minlength.requiredLength}}
            </div>
          </div>
          <div class="form-group" [ngClass]="{ 'was-validated' : showValidations}">
            <label for="secondSurname">
              {{'POLICY.POLICY_ENROLLMENT.INFO_PERSONAL.SURNAME_MOTHER' | translate }}
            </label>
            <input type="text" [required]="f.secondSurname.hasError('required')"
              class="form-control"
              id="secondSurname"
              placeholder="{{ 'POLICY.POLICY_ENROLLMENT.INFO_PERSONAL.PH_MOTHER_LAST_NAME' | translate }}"
              formControlName="secondSurname"
              [maxlength]="getValidatorValue('secondSurname', 'maxLength')"
              [pattern]="getValidatorValue('secondSurname', 'pattern')"
              [minlength]="getValidatorValue('secondSurname', 'minLength')">
            <div class="invalid-feedback" *ngIf="f.secondSurname.errors?.pattern">
              {{ 'APP.MESSAGE.' | concatenate: getValidatorMessage('secondSurname', 'pattern') | uppercase | translate}}
            </div>
            <div class="invalid-feedback" *ngIf="f.secondSurname.errors?.maxlength">
              {{ 'APP.MESSAGE.' | concatenate: getValidatorMessage('secondSurname', 'maxLength') | uppercase | translate}}
              {{f.secondSurname.errors?.maxlength.requiredLength}}
            </div>
            <div class="invalid-feedback" *ngIf="f.secondSurname.errors?.minlength">
              {{ 'APP.MESSAGE.' | concatenate: getValidatorMessage('secondSurname', 'minLength') | uppercase | translate}}
              {{f.secondSurname.errors?.minlength.requiredLength}}
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label for="petitionerDob">
              {{'POLICY.POLICY_ENROLLMENT.INFO_PERSONAL.DOB' | translate }}
            </label>
            <app-datepicker-wrapper formControlName="petitionerDob"
              [hasErrors]="f.petitionerDob.errors"
              [showValidations]="showValidations">
            </app-datepicker-wrapper>
            <small class="text-danger" *ngIf="f.petitionerDob.invalid
                                                  && f.petitionerDob.errors?.invalidAdultAge
                                                  && showValidations">
              {{'POLICY.POLICY_ENROLLMENT.STEP9.CONSTRAINTS_ADULT_AGE' | translate }}
            </small>
            <small class="text-danger" *ngIf="f.petitionerDob.invalid
                                                    && f.petitionerDob.errors?.invalidAgeRangePolicy
                                                    && showValidations">
              {{'POLICY.POLICY_ENROLLMENT.STEP2.SECTION_01.OWNER_DOB_CONSTRAINT_2' | translate }}
            </small>
            <small class="text-danger" *ngIf="f.petitionerDob.hasError('valid') && showValidations">
              {{'APP.MESSAGE.WRONG_FORMAT' | translate }}
            </small>
          </div>
          <div class="form-group" [ngClass]="{ 'was-validated' : showValidations}">
            <label for="countryOfBirth">
              {{'POLICY.POLICY_ENROLLMENT.INFO_PERSONAL.COUNTRY_DOB' | translate }}
            </label>
            <ng-select #countryOfBirthSelect [items]="wizard.countries$ | async" [selectOnTab]="true"
              bindValue="countryId" bindLabel="countryName" formControlName="countryOfBirth"
              [required]="f.countryOfBirth.hasError('required')" class="form-control "
              [placeholder]="f.countryOfBirth.value !== null && f.countryOfBirth.value !== ''
                                    ? '':'POLICY.POLICY_ENROLLMENT.SELECT' | translate ">
            </ng-select>
          </div>
          <div class="form-group" [ngClass]="{ 'was-validated' : showValidations}">
            <label for="countryOfResidency">
              {{'POLICY.POLICY_ENROLLMENT.INFO_PERSONAL.COUNTRY_RESIDENCY' | translate }}
            </label>
            <ng-select #countryOfResidencySelect [items]="wizard.countries$ | async" [selectOnTab]="true"
              bindValue="countryId" bindLabel="countryName" formControlName="countryOfResidency"
              [required]="f.countryOfResidency.hasError('required')" class="form-control"
              [placeholder]="f.countryOfResidency.value !== null && f.countryOfResidency.value !== ''
                                ? '':'POLICY.POLICY_ENROLLMENT.SELECT' | translate ">
            </ng-select>
          </div>
          <div class="form-group" [ngClass]="{ 'was-validated' : showValidations}">
            <label for="nationality">
              {{'POLICY.POLICY_ENROLLMENT.INFO_PERSONAL.NATIONALITY' | translate }}
            </label>
            <ng-select #nationalitySelect [items]="wizard.countries$ | async" [selectOnTab]="true"
              bindValue="countryId" bindLabel="countryName" formControlName="nationality"
              [required]="f.nationality.hasError('required')" class="form-control"
              [placeholder]="f.nationality.value !== null && f.nationality.value !== ''
                                ? '':'POLICY.POLICY_ENROLLMENT.SELECT' | translate ">
            </ng-select>
          </div>
        </div>

        <div class="col-md-4">
          <div class="row ">
            <div class="col-md-6">
              <div class="form-group" [ngClass]="{ 'was-validated' : showValidations}">
                <label for="identificationType">
                  {{ 'POLICY.POLICY_ENROLLMENT.ECONOMIC_INFO.LBL_ID_TYPES' | translate }}
                </label>
                <ng-select #identificationTypeSelect [items]="identificationsTypes" [selectOnTab]="true"
                  bindValue="identificationTypeId" bindLabel="typeName" formControlName="identificationType"
                  [required]="f.identificationType.hasError('required')" class="form-control"
                  [placeholder]="f.identificationType.value !== null && f.identificationType.value !== ''
                                  ? '': 'POLICY.POLICY_ENROLLMENT.SELECT' | translate ">
                </ng-select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group" [ngClass]="{ 'was-validated' : showValidations}">
                <label for="identificationNumber">
                  {{ 'POLICY.POLICY_ENROLLMENT.ECONOMIC_INFO.LBL_ID_NUMBER' | translate }} </label>
                <input type="text" class="form-control" id="identificationNumber"
                  placeholder="{{ 'POLICY.POLICY_ENROLLMENT.ECONOMIC_INFO.PH_ID_NUMBER' | translate }}"
                  formControlName="identificationNumber"
                  [maxlength]="getValidatorValue('identificationNumber', 'maxLength')"
                  [pattern]="getValidatorValue('identificationNumber', 'pattern')"
                  [minlength]="getValidatorValue('identificationNumber', 'minLength')"
                  [required]="f.identificationNumber.hasError('required')">
                <div class="invalid-feedback" *ngIf="f.identificationNumber.errors?.pattern">
                  {{ 'APP.MESSAGE.' | concatenate: getValidatorMessage('identificationNumber', 'pattern') | uppercase | translate}}
                </div>
                <div class="invalid-feedback" *ngIf="f.identificationNumber.errors?.maxlength">
                  {{ 'APP.MESSAGE.' | concatenate: getValidatorMessage('identificationNumber', 'maxLength') | uppercase | translate}}
                  {{f.identificationNumber.errors?.maxlength.requiredLength}}
                </div>
                <div class="invalid-feedback" *ngIf="f.identificationNumber.errors?.minlength">
                  {{ 'APP.MESSAGE.' | concatenate: getValidatorMessage('identificationNumber', 'minLength') | uppercase | translate}}
                  {{f.identificationNumber.errors?.minlength.requiredLength}}
                </div>
              </div>
            </div>
          </div>
          <app-marital-status-list
            [wizard] = "wizard"
            [step] = "STEP_NAME"
            [section] ="SECTION_NAME"
            [showValidations] = "showValidations"
            [formControlNameCustom] = "'maritalStatus'">
          </app-marital-status-list>
          <div class="row">
            <div class="col-md-12">
              <app-gender-list
                [wizard] = "wizard"
                [step] = "STEP_NAME"
                [section] ="SECTION_NAME"
                [showValidations] = "showValidations"
                [formControlNameCustom] = "'gender'">
              </app-gender-list>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 mt-2" *ngIf="showValidations && currentFormGroup.invalid">
        <div class="bp-alertform">
          <div class="alert alert-danger" role="alert">
            <i class="material-icons">info</i>
            {{ 'POLICY.POLICY_ENROLLMENT.STEP2.INFO_INCOMPLETE' | translate }}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 offset-md-4">
          <div class="row align-items-center">
            <div class="col-md-6">
              <button class="bp-btn bp-btnsecondary" type="button" (click) = "back()"> {{ 'POLICY.POLICY_ENROLLMENT.BACK' | translate }} </button>
            </div>
            <div class="col-md-6">
              <button class="bp-btn bp-btnprimary" type="button" (click) = "next()">{{ 'POLICY.POLICY_ENROLLMENT.SAVE_CONTINUE' | translate }}</button>
            </div>
          </div>
        </div>
      </div>

  </ng-container>
 </ng-container>
</form>
