<section class=" align-items-center"> <!-- ig-404-->
    <article class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <img src="assets/images/eraikitzen.gif" alt=""
                    class="img-fluid">
            </div>
            <div class="col-12 col-md-6">
                <div class="ig-textomensaje">
                    <p>{{ 'IN_CONSTRUCTION.TITLE' | translate }}</p>
                    <br>
                    <p>{{ 'IN_CONSTRUCTION.DESCRIPTION' | translate }}</p>
                    <p>{{ 'IN_CONSTRUCTION.INSTRUCTIONS.TITLE' | translate }}</p>
                    <br>
                    <p>{{ 'IN_CONSTRUCTION.INSTRUCTIONS.REFRESH' | translate }}</p>
                    <p>{{ 'IN_CONSTRUCTION.INSTRUCTIONS.BACK' | translate }}</p>
                    <button class="btn btn-primary btn-block btnprincipal" type="button" (click)="goToHome();">{{ 'IN_CONSTRUCTION.GO_HOME' | translate }}</button>
                </div>
            </div>
        </div>
    </article>
</section>
