<div class="col-md-12">
  <div class="row">
    <div class="col-md-3">
        {{'CLAIMS.PROCESSED_CLAIMS.PAY_ORDER' | translate}}
    </div>
    <div class="col-md-3">
      <div class="ig-bold">
        {{ order }}
      </div>
    </div>
    <div class="col-md-3">
        {{'CLAIMS.PROCESSED_CLAIMS.PAY_METHOD' | translate}}
    </div>
    <div class="col-md-3">
      <div class="ig-bold"> {{'CLAIMS.PAYMENT.' | concatenate: method | uppercase | replacespaces: '_' | translate}}</div>

    </div>
    <div class="col-md-3">
        {{'CLAIMS.PROCESSED_CLAIMS.PAY_DATE' | translate}}
    </div>
    <div class="col-md-3">
      <div class="ig-bold"> {{ date | dateTranslate }} </div>

    </div>
    <div class="col-md-3">
        {{'CLAIMS.PROCESSED_CLAIMS.PAY_AMOUNT' | translate}}
    </div>
    <div class="col-md-3">
      <div class="ig-bold"> 
          {{ amount | currency:currencySymbol:true:'1.2-2'}}
        </div>
    </div>
  </div>
</div>