<section class="ig-404 align-items-center">
  <header>
    <h1>
      <img src="./assets/images/logo.png" alt="" class="img-fluid">
    </h1>
  </header>
  <article class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-6">
        <div class="ig-textomensaje404">
          <h2>404</h2>
          <p>error</p>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="ig-textomensaje">
          <p>Error 404 Page not found</p>
          <br>
          <p>The page you are looking for is currently unavailable</p>
          <p>Thing you can try:</p>
          <br>
          <p>Refresh the current page</p>
          <p>Go back to the previous page</p>
          <button class="btn btn-primary btn-block btnprincipal" (click)="goToHome();">Go To Home</button>
        </div>
      </div>
    </div>
  </article>
  <footer>
    <section class="ig-footer  wow fadeIn animated">
      <ul class="ig-politicas">
        <li>
          <a href="">Aviso de privacidad
          </a>
        </li>
        <li>
          <a href="">Términos de Uso.</a>
        </li>
      </ul>
    </section>
    <section class="ig-siguenos wow fadeIn animated">
      <article>
        <ul class="ig-compartir">
          <li>
            <a href="">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="">
              <i class="fa fa-youtube-play" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
        <p>© 2018 Bupa. Todos los derechos reservados</p>
      </article>
    </section>
  </footer>
</section>
