<div class="row align-items-end">
  <div class="col-md-9">
    <h4 class="bp-contentitle">
      <i class="material-icons" *ngIf="showValidation && this.getDetails().invalid"
      [ngClass]="{ 'bp-contentitledanger' : showValidation && this.getDetails().invalid}">info</i>
      {{ 'POLICY.POLICY_ENROLLMENT.STEP4.LABEL_INFO_ADITIONAL' | translate }}
    </h4>
    <hr style="border-color: #0079c8;">
  </div>
  <div class="col-md-3">
    <div class="row align-items-center">
      <div class="col-md-3">
        <button class="ig-icondiagnosminim" (click)="changeValueIsExpanded()"
          type="button"
          data-toggle="collapse"
          [attr.data-target]="'#'+question.medicalQuestionReference"
          aria-expanded="false"
          [attr.aria-controls]="question.medicalQuestionReference">
          <i class="material-icons">{{isExpanded ? 'keyboard_arrow_up': 'keyboard_arrow_down'}}</i>
        </button>
      </div>
      <div class="col-md-9">
        <button class="bp-btn bp-btnprimary" type="button" (click)="addDetail()">
          <i class="material-icons">add_circle</i> {{ 'APP.BUTTON.ADD_BTN' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
<div class="collapse" [ngClass]="{'show': isExpanded || showValidation}" data-parent="#accordion"  id="{{question.medicalQuestionReference}}" [formGroup]="questionForm">
  <div formArrayName="details">
    <div class="row align-items-center"
      *ngFor="let detail of getDetails().controls; let i = index"
      [formGroupName]="i">
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-12">
            <h6 style="font-weight: 700;">
              <i class="material-icons" *ngIf="showValidation && this.getDetails().controls[i].invalid"
              [ngClass]="{ 'bp-contentitledanger' : showValidation && this.getDetails().controls[i].invalid}">info</i>
              {{this.getDetails().controls[i].get('memberFullName').value}}
            </h6>
          </div>
          <div class="col-md-4">
            <div class="form-group" [ngClass]="{'was-validated':showValidation}">
              <label for="member">{{ 'POLICY.POLICY_ENROLLMENT.STEP4.LABEL_MEMBER' | translate }}</label>
              <ng-select #ownerSelect
                [items]="members"
                [selectOnTab]="true"
                bindValue="applicationMemberGuid"
                bindLabel="fullName"
                formControlName="member"
                class="form-control"
                [placeholder]="this.getDetails().controls[i].get('member').value !== null && this.getDetails().controls[i].get('member').value !== ''
                ? '': 'POLICY.POLICY_ENROLLMENT.SELECT' | translate"
                (change)="hangleChangedMember($event, i)">
              </ng-select>
            </div>

            <div class="form-group"[ngClass]="{'was-validated':showValidation}">
              <label for="eventType{{i}}{{question.medicalQuestionReference}}">Tipo de evento</label>
              <input type="text" class="form-control"
                id="eventType{{i}}{{question.medicalQuestionReference}}"
                formControlName="eventType"
                [required]="this.getDetails().controls[i].get('eventType').hasError('required')"
                placeholder=""
                maxlength="100">
            </div>

            <div class="form-group"[ngClass]="{'was-validated':showValidation}">
              <label for="eventCause{{i}}{{question.medicalQuestionReference}}">Causa del evento</label>
              <input type="text" class="form-control"
                id="eventCause{{i}}{{question.medicalQuestionReference}}"
                formControlName="eventCause"
                [required]="this.getDetails().controls[i].get('eventCause').hasError('required')"
                placeholder=""
                maxlength="100">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="eventDate">Fecha del evento</label>
              <app-datepicker-wrapper formControlName="eventDate"
                [hasErrors]="this.getDetails().controls[i].get('eventDate').errors"
                [showValidations]="showValidation">
              </app-datepicker-wrapper>
            </div>
            <div class="form-group" [ngClass]="{'was-validated':showValidation}">
              <label for="nameOfDoctor{{i}}{{question.medicalQuestionReference}}">{{ 'POLICY.POLICY_ENROLLMENT.STEP4.LABEL_NAME_MEDICAL' | translate }}</label>
              <input type="text" class="form-control"
                id="nameOfDoctor{{i}}{{question.medicalQuestionReference}}"
                placeholder="{{ 'POLICY.POLICY_ENROLLMENT.STEP4.PH_NAME_MEDICAL' | translate }}"
                formControlName="nameOfDoctor"
                maxlength="100"
                pattern="[a-zA-ZAÁÉÍÓÚñÑáéíóú\s]+">
            </div>
            <div class="form-group" [ngClass]="{'was-validated':showValidation}">
              <label for="specialtyOfDoctor{{i}}{{question.medicalQuestionReference}}">{{ 'POLICY.POLICY_ENROLLMENT.STEP4.LABEL_SPECIALTY' | translate }}</label>
              <input type="text" class="form-control"
                id="specialtyOfDoctor{{i}}{{question.medicalQuestionReference}}"
                placeholder="{{ 'POLICY.POLICY_ENROLLMENT.STEP4.PH_SPECIALTY' | translate }}"
                formControlName="specialtyOfDoctor"
                maxlength="100"
                pattern="[a-zA-ZAÁÉÍÓÚñÑáéíóú\s]+">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group" [ngClass]="{'was-validated':showValidation}">
              <label for="phoneNumber{{i}}{{question.medicalQuestionReference}}">{{ 'POLICY.POLICY_ENROLLMENT.STEP4.LABEL_PHONE_NUMBER' | translate }}</label>
              <input type="tel" class="form-control"
                id="phoneNumber{{i}}{{question.medicalQuestionReference}}"
                placeholder="{{ 'POLICY.POLICY_ENROLLMENT.STEP4.PH_PHONE_NUMBER' | translate }}"
                formControlName="phoneNumber"
                maxlength="40">
            </div>
          </div>
          <div class="col-md-12"><hr></div>
        </div>
      </div>
      <div class="col-md-2" *ngIf="ifGreaterThanCero(i)">
        <button class="ig-icondiagnosminim" style="cursor: pointer;" type="button" (click) = "deleteDetail(i)">
          <i class="material-icons"> delete_forever </i>
        </button>
      </div>
    </div>
  </div>
</div>
