<div class="ig-title">
    <h5>Solicitud en línea</h5>
</div>

<div class="ig-botones">
    <a class="ig-volverbtn" href="">
        <i class="material-icons">arrow_back</i> Volver
    </a>
</div>

<div class="ig-solicitudpol">
    <div class="row">
        <div class="col">
            <h6>Application number: <span>no asignada</span> </h6>
        </div>
        <div class="col">
            <h6>Policy number: <span>no asignada</span> </h6>
        </div>
        <div class="col">
            <h6>Status: <span>Nueva</span> </h6>
        </div>
        <div class="col">
            <h6>Creation Date: <span>{{ creationDate }}</span> </h6>
        </div>
    </div>
</div>
