<div class="ig-content404">
  <div class="container-fluid p-0">
    <div class="row align-items-center" style="height: 100%;">
        <div class="col-md-6 p-0">
            <img class="img-fluid" src="assets/images/bgerror.png" alt="" style="height: 100%;">
        </div>

        <div class="col-md-6 p-0">
            <div class="ig-textomensaje">
                <h3>
                    {{ 'IN_CONSTRUCTION_REQUEST_MATERIAL.TITLE' | translate }} 
                </h3>

                <div class="ig-texto">
                    <p> {{ 'IN_CONSTRUCTION_REQUEST_MATERIAL.PARAGRAPH_1' | translate }} </p>
                    <div class="margenLi" >
                        <li>{{ 'IN_CONSTRUCTION_REQUEST_MATERIAL.OP_1' | translate }}</li>
                        <li>{{ 'IN_CONSTRUCTION_REQUEST_MATERIAL.OP_2' | translate }}</li>
                        <li>{{ 'IN_CONSTRUCTION_REQUEST_MATERIAL.OP_3' | translate }}</li>
                        <li>{{ 'IN_CONSTRUCTION_REQUEST_MATERIAL.OP_4' | translate }}</li>
                    </div>                                                                              
                    <h4> {{ 'IN_CONSTRUCTION_REQUEST_MATERIAL.PARAGRAPH_2' | translate }}</h4>
                    <div class="margenLi">
                        <li>{{ 'IN_CONSTRUCTION_REQUEST_MATERIAL.OP_5' | translate }}</li>
                        <li>{{ 'IN_CONSTRUCTION_REQUEST_MATERIAL.OP_6' | translate }}</li>
                    </div>
                    <!-- <p><a href="mailto:orders@bupalatinamerica.com ">orders@bupalatinamerica.com</a>  {{ 'IN_CONSTRUCTION_REQUEST_MATERIAL.PARAGRAPH_3' | translate }} </p> -->
                </div>



            </div>
        </div>

    </div>
  </div>
</div>