<section class="ig-changepass centeredSection" *ngIf="waitingReset">

  <div class="">
    <div class="col-10 offset-1 col-lg-6 offset-lg-3">

      <div class="ig-title">
        <h5>{{ 'MOBILEAPP.RESETPASSWORD.TITLE' | translate }}</h5>
      </div>

    </div>
  </div>

  <article class="ig-contenchangepass">
    <article class="">
      <div class="col-10 offset-1 col-lg-6 offset-lg-3">
        <form [formGroup]="changePasswordForm" *ngIf="changePasswordForm" (ngSubmit)="resetPassword(changePasswordForm.value)" novalidate>

          <div class="col p-0">

            <div class="ig-registroform">

              <div class="form-group text-left">

                <label for="newPwd" class="">
                  {{ 'MOBILEAPP.RESETPASSWORD.NEW_PASSWORD' | translate }}
                </label>

                <input id="newPwd" appShowPassword formControlName="newPwd" class="form-control" placeholder=""
                  autofocus="" type="password" maxlength={{passwordRules.maxLength}} minlength={{passwordRules.minLength}}>

                <span class="help-block ig-textovalida" *ngIf="changePasswordForm['controls'].newPwd.errors
                                  && (changePasswordForm['controls'].newPwd.touched
                                  || changePasswordForm['controls'].newPwd.dirty)">

                  <div *ngIf="changePasswordForm['controls'].newPwd.errors?.required
                                                  || !changePasswordForm['controls'].newPwd.errors?.invalidPassword">
                    {{ 'MOBILEAPP.RESETPASSWORD.ERROR.REQUIRED' | translate }}
                  </div>

                  <div *ngIf="changePasswordForm['controls'].newPwd.errors?.invalidPassword
                                          && !changePasswordForm['controls'].newPwd.errors?.required">
                    {{ 'MOBILEAPP.RESETPASSWORD.ERROR.PWD_FORMAT' | translate }}
                  </div>

                </span>

                <span *ngIf="changePasswordForm['controls'].newPwd.touched" class="ig-iconvalidator">
                  <i class="material-icons">
                    {{changePasswordForm['controls'].newPwd.valid ? 'done' : 'warning' }}
                  </i>
                </span>

              </div>

              <div class="form-group text-left">

                <label for="confirmPwd" class="">{{ 'MOBILEAPP.RESETPASSWORD.CONFIRM_PASSWORD' | translate}}
                </label>

                <input id="confirmPwd" formControlName="confirmPwd" appShowPassword class="form-control" placeholder=""
                  autofocus="" type="password">

                <div class="ig-textovalida" *ngIf="changePasswordForm['controls'].confirmPwd.errors?.required
                                                  && changePasswordForm['controls'].confirmPwd.touched">
                  {{ 'MOBILEAPP.RESETPASSWORD.ERROR.REQUIRED' | translate }}
                </div>

                <div class="ig-textovalida" *ngIf="changePasswordForm.errors
                                          && changePasswordForm.errors?.match
                                          && !changePasswordForm['controls'].confirmPwd.errors?.required
                                          && changePasswordForm['controls'].confirmPwd.touched">
                  {{ 'MOBILEAPP.RESETPASSWORD.ERROR.PWD_MATCH' | translate }}
                </div>

                <span *ngIf="changePasswordForm['controls'].confirmPwd.touched" class="ig-iconvalidator">
                  <i class="material-icons">
                    {{ (changePasswordForm.errors?.match ||
                    !changePasswordForm['controls'].confirmPwd.valid)
                    ? 'warning' : 'done' }}
                  </i>
                </span>

              </div>



              <div class="ig-textopass">

                <div class="row">

                  <div class="col" style="text-align: justify;">
                    <h6>{{passwordRules.passwordExplanation}}</h6>
                  </div>


                </div>

              </div>

              <div class="row">
                <button type="submit" [disabled]="changePasswordForm.invalid" class="ig-botones ig-principalbtn">
                  {{ 'MOBILEAPP.RESETPASSWORD.SAVE' | translate }}
                </button>
              </div>

            </div>

          </div>

        </form>

      </div>

    </article>

  </article>

</section>

<section class="centeredSection" *ngIf="!waitingReset">
  <div class="middleText col-10 offset-1 col-lg-6 offset-lg-3" >
    <h5 class="generalTextColor" *ngIf="resetSucceeded" >{{ 'MOBILEAPP.RESETPASSWORD.SUCCESS.MESSAGE' | translate }}</h5>
    <h5 class="generalTextColor" *ngIf="!resetSucceeded" >{{ 'MOBILEAPP.RESETPASSWORD.ERROR.MESSAGE' | translate }}</h5>
  </div>
</section>
