<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <appSettings>
    <add key="BASEURL" value="https://#{Bupa.ServerIp}#/" />
    <add key="APIHOST" value="Bupa.Security/userapi/api/v1" />
    <add key="ISSUER" value="Bupa.Security/IdentityServer/core" />
    <add key="REDIRECTURI" value="/Bupa.OnlineServices/OnlineServicesWeb/" />
    <add key="RESPONSETYPE" value="id_token token" />
    <add key="CLIENTID" value="onlineservices_web_client" />
    <add key="SCOPE" value="openid profile policy provider bupa_profile user agent payment claim claimsubmission enrollment common customer preauthorization medicalquestionary network_provider product medical_code amigosplus_quote finance coverage" />
    <add key="OIDC" value="true" />
    <add key="STRICTDISCOVERYDOCUMENTVALIDATION" value="false" />
    <add key="POSTLOGOUTREDIRECTURI" value="Bupa.OnlineServices/OnlineServicesWeb" />
    <add key="LOGOUTURL" value="Bupa.Security/IdentityServer/core/connect/endsession" />
    <add key="CLEARHASHAFTERLOGIN" value="true" />
    <add key="RETURNURL" value="Bupa.OnlineServices/OnlineServicesWeb/" />
    <add key="APIHOSTIMPERSONATION" value="Bupa.Security/IdentityServer/core/connect/token" />
    <add key="CLIENTIDIMPERSONATION" value="onlineservices_web_client_simple" />
    <add key="SCOPEIMPERSONATION" value="user policy bupa_impersonalize bupa_profile claim claimsubmission enrollment common agent provider payment customer preauthorization medicalquestionary network_provider product medical_code amigosplus_quote finance coverage" />
    <add key="AUTHORIZATIONIMPERSONATION" value="Basic b25saW5lc2VydmljZXNfd2ViX2NsaWVudF9zaW1wbGU6YnVwQGludGVyZ3J1cG8=" />
    <add key="GOOGLECAPTCHASITEKEY" value="#{RecaptchaKeyFrontEnd}#" />
    <add key="CLIENTIDPAYMENTWITHOUTLOGGIN" value="onlineservices_web_client_simple" />
    <add key="SCOPEPAYMENTWITHOUTLOGGIN" value="payment policy user bupa_profile bupa_anonymous common " />
    <add key="SDUN" value="cHdvbGlAYnVwYWxhdGluYW1lcmljYS5jb20=" />
    <add key="SDUP" value="TWlAaTEzbXghVXAl" />
    <add key="GOOGLECAPTCHASITEKEYINVISIBLE" value="6Lc8mLcZAAAAABcJUgE0za1Lgd5B1DMpBH8Ugqzz" />
    <add key="APIHOSTCHANGEPORTFOLIO" value="Bupa.Security/IdentityServer/core/connect/token" />
    <add key="NEWBUSINESSQUOTATIONURL" value="#{NewBusinessQuotationUrl}#" />
    <add key="NEWBUSINESSQUOTEURLSAUTHORIZED" value="https://186.86.40.109;https://cotizador.bupasalud.com;https://cotizador.bupasalud.com/" />
    <add key="CHATBOTSOURCE" value="#{ChatBotSource}#" />
    <add key="CHATBOTDATAORGID" value="#{ChatBotDataOrgId}#" />
    <add key="CHATBOTDATAORGURL" value="#{ChatBotDataOrgUrl}#" />
    <add key="CHATBOTDATAAPPENG" value="#{ChatBotDataAppEng}#" />
    <add key="CHATBOTDATAAPPSPA" value="#{ChatBotDataAppSpa}#" />
    <add key="DIGITALHOST" value="#{DigitalHost}#" />
    <add key="SPLITREDIRECTURL" value="#{SplitRedirectUrl}#" />
    <add key="MEXICOCOSTUMERSERVICEPHONE" value="#{MexicoCostumerServicePhone}#" />
    <add key="MEXICOCOSTUMERSERVICEMAIL" value="#{MexicoCostumerServiceMail}#" />
    <add key="BGLACOSTUMERSERVICEPHONE" value="#{BGLACostumerServicePhone}#" />
    <add key="BGLACOSTUMERSERVICEMAIL" value="#{BGLACostumerServiceMail}#" />
    <add key="GOTOHOMETITLECURRENTBUSINESS" value="#{GoToHomeTitleCurrentBusiness}#" />
    <add key="GOTOHOMETITLEOFFSIDEBUSINESS" value="#{GoToHomeTitleOffsideBusiness}#" />
    <add key="AUTHFORMCURRENTBUSINESS" value="#{AuthformCurrentBusiness}#" />
    <add key="AUTHFORMOFFSIDEBUSINESS" value="#{AuthformOffsideBusiness}#" />
    <add key="PROVIDERSMAIL" value="#{ProvidersMail}#" />
    <add key="INACTIVITYMXPORTAL" value="#{InactivityMxPortal}#" />
    <add key="NPSSURVEYURL" value="#{npsSurveyUrl}#" />
    <add key="APIMHOST" value="#{apimHost}#" />
    <add key="APIMSUBSCRIPTION" value="#{apimSubscription}#" />
  </appSettings>
  <system.web>
    <httpRuntime targetFramework="4.0" />
    <compilation targetFramework="4.0">
		<buildProviders >
			<add extension=".html" type="System.Web.Compilation.PageBuildProvider"/>
    </buildProviders>
	</compilation>
	<customErrors mode="Off"/>
  <globalization fileEncoding="utf-8" />
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Angular Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="./index.html" />
        </rule>
      </rules>
    </rewrite>
  <handlers>
    <remove name="PageHandlerFactory-Integrated-4.0" />
      <add name="PageHandlerFactory-Integrated-4.0" path="*.html" verb="GET,HEAD,POST,DEBUG" type="System.Web.UI.PageHandlerFactory" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <staticContent>
      <clientCache cacheControlMode="DisableCache" />
      <!-- required for apple-app-site-association: -->
      <mimeMap fileExtension="." mimeType="application/json" />
    </staticContent>
    <httpProtocol>
        <customHeaders>
          <add name="Access-Control-Allow-Origin" value="*" />
        </customHeaders>
      </httpProtocol>
  </system.webServer>
</configuration>
