<div class="row align-items-center">
  <div class="col-md-10">
    <h6 class="ig-infotil">
      {{ 'CLAIMS.PRE_AUTHORIZATION.STEP_2.PROCEDURES' | translate }}
    </h6>
  </div>
  <div class="col-md-2">
    <button class="ig-principalbtn ig-botones" (click)="openModalProcedures()">
      <i class="material-icons">add_circle </i> {{ 'CLAIMS.PRE_AUTHORIZATION.ADD' | translate }}
    </button>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <p> {{ 'CLAIMS.PRE_AUTHORIZATION.MESSAGE.INFO_PROCEDURES' | translate}} </p>
  </div>
</div>

<div class="col-md-12 ig-diagnosticocontent" *ngIf="wizard.listProcedureSelected.length > 0">
  <div class="row">
    <div class="col-md-2">
      <h6 class="ig-titulodiag"> {{ 'CLAIMS.PRE_AUTHORIZATION.STEP_2.CODE' | translate }} </h6>
    </div>
    <div class="col-md-8">
      <h6 class="ig-titulodiag"> {{ 'CLAIMS.PRE_AUTHORIZATION.STEP_2.NAME_PROCEDURE' | translate }} </h6>
    </div>
    <div class="col-md-2">
      <h6 class="ig-titulodiag"> {{ 'CLAIMS.PRE_AUTHORIZATION.STEP_2.ACTION' | translate }} </h6>
    </div>
  </div>


  <div class="ig-diagnosselec" *ngFor="let proc of pagedItemsProcedures">
    <div class="row">
      <div class="col-md-2">
        <h6> {{ proc.code }} </h6>
      </div>
      <div class="col-md-8">
        {{ proc.description }}
      </div>
      <div class="col-md-2">
        <a class="ig-icondiagnosminim" (click)="removeProcedures(proc)" style="cursor: pointer;">
          <i class="material-icons"> delete_forever </i>
        </a>
      </div>
    </div>
  </div>

  <div class="ig-paymentnav">
    <ul *ngIf="pagerProcedure.pages && pagerProcedure.pages.length" class="pagination">
      <li [ngClass]="{disabled:pagerProcedure.currentPage === 1}">
        <button type="button" [disabled]="pagerProcedure.currentPage === 1" (click)="setPageProcedures(1)"><i
            class="material-icons">first_page</i></button>
      </li>
      <li [ngClass]="{disabled:pagerProcedure.currentPage === 1}">
        <button type="button" [disabled]="pagerProcedure.currentPage === 1"
          (click)="setPageProcedures(pagerProcedure.currentPage - 1)"><i
            class="material-icons">chevron_left</i></button>
      </li>
      <li [ngClass]="{disabled:pagerProcedure.currentPage === pagerProcedure.totalPages}">
        <button type="button" [disabled]="pagerProcedure.currentPage === pagerProcedure.totalPages"
          (click)="setPageProcedures(pagerProcedure.currentPage + 1)"><i
            class="material-icons">chevron_right</i></button>
      </li>
      <li [ngClass]="{disabled:pagerProcedure.currentPage === pagerProcedure.totalPages}">
        <button type="button" [disabled]="pagerProcedure.currentPage === pagerProcedure.totalPages"
          (click)="setPageProcedures(pagerProcedure.totalPages)"><i class="material-icons">last_page</i></button>
      </li>
    </ul>
  </div>
</div>